<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdkj.dao.StorageMapper">

    <resultMap id="BaseResultMap" type="com.sdkj.entity.Storage" >
        <id property="id" jdbcType="BIGINT" column="id" />
        <result property="productId" jdbcType="BIGINT" column="product_id" />
        <result property="total" jdbcType="INTEGER" column="total" />
        <result property="used" jdbcType="INTEGER" column="used" />
        <result property="residue" jdbcType="INTEGER" column="residue" />
    </resultMap>

    <select id="decrease" >
        UPDATE storage
        set used = used + #{count},
            residue = residue - #{count}
        WHERE product_id = #{productId}
    </select>
</mapper>