<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdkj.dao.OrderDao">

    <resultMap id="BaseResultMap" type="com.sdkj.entity.Order" >
        <id property="id" jdbcType="BIGINT" column="id" />
        <result property="userId" jdbcType="BIGINT" column="user_id" />
        <result property="productId" jdbcType="BIGINT" column="product_id" />
        <result property="count" jdbcType="INTEGER" column="count" />
        <result property="money" jdbcType="DECIMAL" column="money" />
        <result property="status" jdbcType="INTEGER" column="status" />
    </resultMap>

    <insert id="insert" parameterType="com.sdkj.entity.Order" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `order` (user_id, product_id, count, money, status )
        values(#{userId}, #{productId}, #{count}, #{money}, 0)
    </insert>

    <select id="update" >
        UPDATE `order`  set status = 1
        WHERE id = #{id} and user_id = #{userId}
    </select>
</mapper>